{% extends "base.html" %}

{% block content %}

<div class="box">
    <h1 class="title is-1">{{articulo.2}}</h1>
    <span class=""><a href="/home/user/{{articulo.0}}">{{articulo.0}}</a> - {{articulo.4}}</span>
    <div class="mt-5 is-size-5">
        <p>
            {{articulo.3}}
        </p>
    </div>
    <div class="categories mt-5">
        <span class="has-text-weight-semibold">Categorias:</span>
        <span class="is-italic">
            {% for categoria in categorias %}
            {{categoria.0}}
        {% endfor %}
        </span>

    </div>
    <div class="article-footer mt-5">
        <a href="/descargararticulo/{{articulo.1}}" class="button is-success"
            download="articulo{{articulo.1}}.json">Descargar</a>
        <a class="button is-warning" href="/editararticulo/{{articulo.1}}">Editar</a>
        <button class="button is-danger delete-button" href="">Eliminar</button>
    </div>
    <div class="modal">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="box">
                <h3 class="subtitle is-4">Confirme credenciales para eliminar el artículo.</h3>
                <form action="/borrararticulo/" method="post">

                    <input name="article_id" value="{{articulo.1}}" type="hidden">
                    <div class="field">
                        <label class="label">Nombre de usuario</label>
                        <div class="control">
                            <input class="input" name="username" type="text" value="{{nombre_usuario}}"
                                placeholder="Ingrese su nombre de usuario">
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Contraseña</label>
                        <div class="control">
                            <input class="input" name="password" type="password" placeholder="Ingrese su Contraseña">
                        </div>
                    </div>

                    <input type="submit" class="button is-danger" value="Eliminar">

                </form>
            </div>
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
</div>

<div class="box">
    <h2 class="title is-2">Comentarios</h2>



    {% include 'formulario_comentario.html' %}

    <div>

        {% if not comentarios %}
        <p>Todavía no hay ningún comentario</p>
        {% endif %}

        {% for comentario in comentarios %}
        <hr />
        <p>{{comentario.1}}</p>
        <span class="is-size-7"><a href="/home/user/{{comentario.4}}">{{comentario.4}}</a> - {{comentario.2}}</span>
        {% endfor %}
    </div>
</div>


{% endblock %}

{% block script %}
<script>
    const modal = document.getElementsByClassName('modal')[0];
    const deletebutton = document.getElementsByClassName('delete-button')[0];
    const closemodal = document.getElementsByClassName('modal-close')[0];
    let isActive = false;

    function changeModal() {
        isActive = !isActive;
        if (isActive) {
            modal.classList.add('is-active');
        } else {
            modal.classList.remove('is-active')
        }
        console.log(isActive);
    };

    deletebutton.addEventListener('click', changeModal);
    closemodal.addEventListener('click', changeModal);


</script>
{% endblock %}