{% extends "base.html" %}

{% block content %}

    <div class="box">
        <h1 class="title is-1">{{articulo.1}}</h1>
        <span class=""><a href="/home/user/{{author}}">{{author}}</a> - {{articulo.3}}</span>
        <div class="mt-5">
            <p>
                {{articulo.2}}
            </p>
        </div>
    </div>

    <div class="box">
        <h2 class="title is-2">Comentarios</h2>
        
        <h1 class="subtitle is-1">Escriba su comentario</h1> 
    

    <form action="subircomentario/" method="post" class="box">
        <input name="article_id" value="{{articulo.0}}" type="hidden">
        <div class="field">
            <label class="label">Nombre de usuario</label>
            <div class="control">
                <input class="input" name="username" type="text" placeholder="Ingrese su nombre de usuario">
            </div>
            </div>
        
            <div class="field">
            <label class="label">Contraseña</label>
            <div class="control">
                <input class="input" name="password" type="password" placeholder="Ingrese su Contraseña">
            </div>
            </div>
        
            <div class="field">
            <label class="label">Contenido del comentario</label>
            <div class="control">
                <textarea class="textarea" name="comment_content" placeholder="Escriba su comentario aqui"></textarea>
            </div>
            </div>
            <div class="field is-grouped">
                <div class="control">
                    <input type="submit" class="button is-link"/>
                </div>
            </div>

    </form>
        
        <div>

            {% if not comentarios %}
                <p>Todavía no hay ningún comentario</p>
            {% endif %}

            {% for comentario in comentarios %}
                <hr/>
                <p>{{comentario.1}}</p>
                <span class="is-size-7">{{comentario.2}}</span>
            {% endfor %}
        </div>
    </div>
    
    

{% endblock %}