
{% extends "base.html" %}

{% block content %}

<h1 class="title is-1">Filtro avanzado</h1>
<div>
    <form action="/recibiendoGet/" method="get">
        <input type="checkbox" name="categoria" value="Entretenimiento">Entretenimiento
        <input type="checkbox" name="categoria" value="Filosofia">Filosofia
        <input type="checkbox" name="categoria" value="Historia">Historia
        <input type="submit" name="Enviar">
    </form>
</div>

<div class="box">
    {% for articulo in articulos %}
        <h2> {{articulo}}</h2> 
        <p></p>

</div>
    

{% endfor %}    

{% endblock %}