{% extends "base.html" %}

{% block content %}

<h1 class="title is-1">Bienvenido al foro</h1>
<div class="box">
    {% if articulos %}
        {% for articulo in articulos %}
        <div>
            <h2 class="subtitle is-3 is-underlined mb-1 mt-1"><a href="/mostrararticulo/{{articulo.1}}">{{articulo.2}}</a></h2> 
            <span><a href="/home/user/{{articulo.0}}">{{articulo.0}}</a> - {{articulo.4}}</span>
            <hr>
        </div>

        {% endfor %}
    {% else %}
        <p>No hay artículos</p>
    {% endif %}
</div>
    

{% endblock %}